<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Home Section</title>
</head>
<body>
    <section class="home">
        <div class="home-content">
          <h3>Authentic Home-style real Indian Food</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid dolorum enim cupiditate labore voluptates numquam dignissimos? Fugiat!</p>
        </div>
        <div class="home-section">
          <h3>There is no cooking like home cooking, and this is especially true of India.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam reprehenderit voluptatum consectetur quam voluptate quod soluta vitae!</p>
        </div>
        <div class="team">
          <h3>Gourmet Team</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, expedita! Ducimus non numquam accusantium dolor vero ad.</p>
        </div>
        <div class="area">
          <h3>Our Delivery Area:</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam incidunt deleniti consectetur pariatur eos corrupti excepturi quam!</p>
        </div>
    </section>
</body>
</html>