<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Home Section</title>
</head>
<body>

    <a href="#logo" class="main">Delicious Food</a>
  <nav class="navbar">
    <a href="/home/" class="active">Home</a>
    <a href="/about">About</a>
    <a href="#gallery">Gallery</a>
    <a href="work">How it works</a>
    </nav>
  </header>
  
    <section class="about">
        <div class="about-content">
          <h3>Feedbacks</h3>
          <div class="review">
            <h3>Antony</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid dolorum enim cupiditate labore voluptates numquam dignissimos? Fugiat!</p>
          </div>
          
        </div>
        <div class="review">
          <h3>Annas</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam reprehenderit voluptatum consectetur quam voluptate quod soluta vitae!</p>
        </div>
        <div class="review">
            <h3>Annas</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam reprehenderit voluptatum consectetur quam voluptate quod soluta vitae!</p>
          </div>
    </section>
</body>
</html>